<a href="https://colab.research.google.com/github/Juscostajr/analise-de-dados-turma-2023/blob/main/Criptomoedas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd

In [14]:
response = requests.get('https://api.wazirx.com/sapi/v1/tickers/24hr')

df = pd.read_json(response.text)

df['variacao'] = df['openPrice'] - df['lastPrice']

variacao = df[['baseAsset','variacao']]

variacao = variacao.sort_values('variacao', ascending=False)

variacao

    baseAsset  variacao
0         btc  13717.00
41       paxg   4500.00
17        bch    407.00
89       egld    298.34
80        ksm    175.00
..        ...       ...
445      yfii   -377.00
104       mkr   -458.32
169       btc   -792.00
20        yfi  -6097.00
2         eth  -7000.10

[446 rows x 2 columns]

Top 5 Altas

In [15]:
variacao.head(5)

   baseAsset  variacao
0        btc  13717.00
41      paxg   4500.00
17       bch    407.00
89      egld    298.34
80       ksm    175.00

Top 5 Baixas

In [16]:
variacao.tail(5)

    baseAsset  variacao
445      yfii   -377.00
104       mkr   -458.32
169       btc   -792.00
20        yfi  -6097.00
2         eth  -7000.10